includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    scanFiles:
        - vendor/autoload.php
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkExplicitMixedMissingReturn: true
    checkBenevolentUnionTypes: true